{
    "singleQuote": true,
    "trailingComma": "none",
    "tabWidth": 4,
    "printWidth": 90,
    "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
    "importOrder": ["^react(.*)", "<THIRD_PARTY_MODULES>", "^[./]"],
    "importOrderSeparation": true,
    "importOrderParserPlugins": ["typescript", "decorators-legacy", "jsx", "js"],
    "overrides": [
        {
            "files": ".github/**/*.yaml",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
